[submodule "dotfiles/vim/bundle/ack"]
	path = dotfiles/vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/vim-colors-solarized"]
	path = dotfiles/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/lusty"]
	path = dotfiles/vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/ctrlp"]
	path = dotfiles/vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "dotfiles/vim/bundle/hgrev"]
	path = dotfiles/vim/bundle/hgrev
	url = git://github.com/vim-scripts/hgrev
[submodule "dotfiles/vim/bundle/snipmate.vim"]
	path = dotfiles/vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim
[submodule "dotfiles/vim/bundle/vim-fswitch"]
	path = dotfiles/vim/bundle/vim-fswitch
	url = git://github.com/derekwyatt/vim-fswitch.git
[submodule "dotfiles/vim/bundle/jedi-vim"]
	path = dotfiles/vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim
[submodule "dotfiles/vim/bundle/python-mode"]
	path = dotfiles/vim/bundle/python-mode
	url = git://github.com/klen/python-mode
[submodule "dotfiles/vim/bundle/vim-virtualenv"]
	path = dotfiles/vim/bundle/vim-virtualenv
	url = git://github.com/todesschaf/vim-virtualenv.git
[submodule "dotfiles/vim/bundle/syntastic"]
	path = dotfiles/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "dotfiles/vim/bundle/YouCompleteMe"]
	path = dotfiles/vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "dotfiles/vim/bundle/gundo.vim"]
	path = dotfiles/vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "dotfiles/vim/bundle/vim-easymotion"]
	path = dotfiles/vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
