dotfiles/vim/.netrwhist
dotfiles/xmonad/xmonad-x86_64-darwin
dotfiles/xmonad/xmonad-i386-linux
dotfiles/xmonad/xmonad.errors
dotfiles/xmonad/xmonad.hi
dotfiles/xmonad/xmonad.o
dotfiles/sublime/Package Control.last-run
dotfiles/sublime/SublimeREPLHistory
