[submodule "dotfiles/vim/bundle/clang_complete"]
	path = dotfiles/vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/ack"]
	path = dotfiles/vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/vim-colors-solarized"]
	path = dotfiles/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/lusty"]
	path = dotfiles/vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/vim-powerline"]
	path = dotfiles/vim/bundle/vim-powerline
	url = git://github.com/todesschaf/vim-powerline.git
	ignore = dirty
[submodule "dotfiles/vim/bundle/ctrlp"]
	path = dotfiles/vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "dotfiles/vim/bundle/hgrev"]
	path = dotfiles/vim/bundle/hgrev
	url = git://github.com/vim-scripts/hgrev
[submodule "dotfiles/vim/bundle/snipmate.vim"]
	path = dotfiles/vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim
[submodule "dotfiles/vim/bundle/vim-fswitch"]
	path = dotfiles/vim/bundle/vim-fswitch
	url = git://github.com/derekwyatt/vim-fswitch.git
